<div class="container">
  <nav class="header">
    <mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon>
    <div class="header__title">
      <h1>Password Generator</h1>
      <p>by Ebert Rodrigues</p>
    </div>
  </nav>

  <section class="password">
    <h2>Options</h2>
    <form
      class="password__form"
      [formGroup]="pwGeneratorForm"
      (ngSubmit)="onGeneratePw()"
    >
      <div>
        <label for="pw-lower">Lower case Characters</label>
        <input
          formControlName="lowerCase"
          id="pw-lower"
          name=""
          type="checkbox"
        />
      </div>

      <div>
        <label for="pw-upper">Upper case Characters</label>
        <input
          formControlName="upperCase"
          id="pw-upper"
          name=""
          type="checkbox"
        />
      </div>

      <div>
        <label for="pw-numbers">Numbers</label>
        <input
          formControlName="numbers"
          id="pw-numbers"
          name=""
          type="checkbox"
        />
      </div>

      <div>
        <label for="pw-symbols">Symbols</label>
        <input
          formControlName="symbols"
          id="pw-symbols"
          name=""
          type="checkbox"
        />
      </div>

      <div>
        <label for="pw-length">Password Length</label>
        <input formControlName="length" id="pw-length" name="" type="number" />
      </div>

      <div>
        <button class="button" type="submit">Generate Password</button>
      </div>

      <!-- ToDo: CSS with pw strength -->
      <div class="password__output">
        <input readonly type="text" [value]="generatedPw ? generatedPw : ''" />
        <button ngxClipboard (click)="onCopyPw()">
          <mat-icon aria-hidden="false" aria-label="menu icon">
            content_copy
          </mat-icon>
        </button>
      </div>
    </form>
  </section>
</div>
